spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:mysql://localhost:3306/loopit_test?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useUnicode=true
    username: root
    password: 1111
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http.converter: DEBUG

steam:
  api-key: 934EBC97703866610810B89F26E71F1D

kakao:
  auth:
    client: f1d9f31eee544339e551650d9214f93d
    client_secret: EvrS4Ph98uZAEy8qQy6emjFnwLjE8eHv
    redirect: http://localhost:8080/auth/login/kakao

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: us-east-1
    s3:
      bucket: loopit-bucket-local
    stack:
      auto: false
